$mainFont: 'Open Sans', sans-serif;
$condensedFont: 'Open Sans Condensed', sans-serif;

body {
  background: #01b0dd;
  color: #fff;
  font-family: $condensedFont;
  font-weight: 100;

  .order-block {

    .order-title {
      font-family: $mainFont;
      font-weight: 300;
      font-size: 32px;
      padding: 20px;
    }
  }

}